
/* Estilos Globais */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --cinza--claro: rgba(211, 211, 211, 1);
  --border-neutral-primary: rgba(211, 211, 211, 1);
  --surface--neutral-primary: rgba(252, 252, 252, 1);
  --border-neutral-primary: rgba(211, 211, 211, 1);
  --text-neutral-tertiary: rgba(145, 145, 145, 1);
  --cinza--escuro: rgba(77, 77, 77, 1);
  --red: #E80537;
  --red--hover: rgba(192, 10, 50, 1);
  --amarelo: rgba(242, 118, 13, 1);
  --amarelo--escuro: rgba(153, 61, 0, 1);
  --roxo: rgba(165, 66, 229, 1);
  --black: rgba(0, 0, 0, 1);
}
[orange] {
  color: var(--orange);
}
button {
  background: none;
  border: none;
}
img {
  object-fit: contain;
}
:root {
  --red: #E80537;
  --orange: #FF7500;
}
body::-webkit-scrollbar-thumb {
  background-color: #E80537;
  border-radius: 6px;
  border: 0px solid #F5F5F5;
}
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  background-color: #F5F5F5;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 6px;
  border: 0px solid #F5F5F5;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
.max__width {
  max-width: 1280px;
  width: calc(100% - 100px);
  margin: 0 auto
}
body {
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.button__red, .button__gray, .button__white {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-weight: 500;
  border-radius: 16px;
  height: 48px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  width: max-content;
  cursor: pointer;
  transition: .5s;
  justify-content: center;
}
.button__red {
  color: white;
  background: var(--red);
}
.button__gray {
  background: #F3F3F3;
  color: black;
}
.button__white {
  color: var(--red);
  background: white;
}
.button__red:hover {
  background: #af0026;
  transition: .5s;
}
.button__white:hover {
  background: #ececec;
  transition: .5s;
}
.sections__title {
  margin: 100px 0 80px 0;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 1%;
  text-align: center;
}
.sections__title span {
  color: var(--red);
}
/* Marcador */
.marcador {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #919191;
  margin: 48px auto;
  width: 100%;
  gap: 12px;
}
.marcador__numbers {
  display: flex;
  gap: 12px;
  width: max-content;
  align-items: center;
}
.marcador__title {
  font-size: 48px;
  font-weight: 700;
  margin-right: calc(32px - 12px);
}
.marcador__p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background: #F3F3F3;
  min-width: 56px;
  min-height: 56px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
}
[divisor] {
  content: '';
  width: 60px;
  height: 2px;
  background: #D9D9D9;
}
[ativo] {
  min-width: 102px;
  min-height: 102px;
  border-radius: 37px;
}
[color] [ativo] {
  font-size: 52.9px;
}
[color="vermelho"] .marcador__title, [color="vermelho"] [ativo] {
  color: #E80537;
}
[color="vermelho"] [ativo] {
  background: #FEF0F1;
}
[color="laranja"] .marcador__title, [color="laranja"] [ativo] {
  color: #FF7500;
}
[color="laranja"] [ativo] {
  background: #FFEDD6;
}
[color="verde"] .marcador__title, [color="verde"] [ativo] {
  color: #59D359;
}
[color="verde"] [ativo] {
  background: #D8FFD8;
}
/* Banner */
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 92px 0 116px 0;
  margin: auto;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
}
.banner .button__white {
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.5%;
  border-radius: 12px;
  text-align: center;
  white-space: nowrap;
}
.banner__header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  width: calc(100% - 100px);
  padding: 0 16px 0 32px;
  max-width: 1280px;
  top: 24px;
  background: var(--orange);
  z-index: 2;
  border-radius: 24px;
}
.banner__header a {
  height: 32px;
}
.banner__logo {
  object-fit: contain;
  object-position: left;
  height: 32px;
  width: max-content;
}
.banner__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  margin-top: 80px;
}
.banner__col--1 {
  color: #4D4D4D;
}
.banner__p {
  margin-bottom: 28px;
  font-weight: 400;
  line-height: 130%;
  font-size: 20px;
}
.banner__tag {
  background: var(--red);
  color: white;
  font-size: 16px;
  height: 28px;
  border-radius: 8px;
  width: max-content;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.banner__btns {
  display: flex;
  height: max-content;
  gap: 12px;
}
h1 {
  font-size: 56px;
  line-height: 100%;
  color: black;
  margin: 36px 0;
  font-weight: 500;
}
h1 span {
  color: var(--orange);
  font-weight: 700;
}
.banner__col--2 {
  position: relative;
  width: 100%;
  height: max-content;
}
.banner__fita {
  position: absolute;
  right: -40px;
  top: -40px;
  z-index: 1;
}
.banner__fita--2 {
  position: absolute;
  left: -40px;
  bottom: -38px;
  transform: rotate(180deg);
  z-index: 1;
}
.banner__img {
  width: 100%;
}
/*  */
.empresa {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7Vw;
  background: #FCFCFC;
  border: 1px solid #D3D3D3;
  padding: 100px;
  border-radius: 100px;
}
.empresa__img {
  position: absolute;
  top: 57px;
  right: -86px;
}
.empresa__col--1 {
  max-width: 420px;
}
.empresa__col--2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 462px;
  border: 1px solid #D3D3D3;
  border-radius: 40px;
  padding: 48px;
  box-shadow: 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
              0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04),
              0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
.empresa__fita {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  margin: auto;
}
.empresa__a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(145, 145, 145, 1);
  margin-bottom: 16px;
}
.empresa__valor {
  display: flex;
}
.empresa__ctn {
  display: flex;
  flex-direction: column;
  color: rgba(145, 145, 145, 1);
  font-size: 16px;
}
.empresa__apartir {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1%;
  margin-bottom: 16px;
}
.empresa__preco {
  color: rgba(116, 116, 116, 1);
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 1%;
}
.empresa__asterisco {
  color: rgba(145, 145, 145, 1);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 1%;
}
.empresa__por {
  color: rgba(116, 116, 116, 1);
  white-space: nowrap;
}
.empresa__unico {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1%;
  margin-bottom: 28px;
  color: rgba(145, 145, 145, 1);
  margin-top: 8px;
}
.empresa__nr {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #4D4D4D;
  margin-bottom: 16px;
}
.empresa__title {
  color: var(--red);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 100%;
}
.empresa__ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}
.empresa__ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #4D4D4D;
}
.empresa__p {
  font-size: 20px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.empresa .button__red {
  width: 100%;
  justify-content: center;
}
.empresa__rodape {
  font-size: 14px;
  color: #919191;
  text-align: center;
  margin-top: 16px;
}
/* ideias */
.ideias {
  text-align: center;
  margin-bottom: 80px;
}
.ideias__title {
  margin-bottom: 28px;
  font-size: 48px;
  font-weight: 700;
  color: var(--orange);
}
.ideias__ctn {
  display: flex;
  align-items: center;
  border-radius: 16px;
  gap: 10px;
  background: #FCFCFC;
  color: #747474;
  border: 1px solid #D3D3D3;
  padding: 0 20px;
  height: 66px;
  max-width: max-content;
  width: 100%;
  margin: auto;
}
.ideias__p {
  font-size: 20px;
  line-height: 130%;
  margin: auto;
  margin-bottom: 28px;
  color: #4D4D4D;
  max-width: 836px;
}
.ideias__ctn p {
  color: #747474;
  font-size: 20px;
  font-weight: 500;
}
.ideias__description {
  font-size: 15px;
  margin-top: 12px;
  color: #919191;
}
/* cards */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.cards .button__red {
  width: 100%;
  margin-top: 32px;
}
.cards__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid #D3D3D3;
  background: white;
  outline: 2px solid transparent;
  background: #FCFCFC;
  border-radius: 40px;
  padding: 48px;
  min-height: calc(100% - 50px);
}
.cards__card--destaque {
  border: 2px solid #FF7500;
  background: #FFFBF8;
  transition: .5s;
  box-shadow: 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
}
.cards__grafismo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  top: -28px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  text-align: center;
}

.cards__status {
  font-size: 24px;
  font-weight: 700;
  color: #4D4D4D;
}
.cards__status--1 {
  margin-bottom: 20px;
}
.cards__img {
  width: 32px;
  height: 32px;
}
.cards__title, .cards__p {
  line-height: 120%;
  font-size: 28px;
  color: #4D4D4D;
  font-weight: 700;
}
.cards__imgs {
  display: flex;
  gap: 4px;
}
.cards__contant {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
}
.cards__contant {
  gap: 12px;
}
.cards__plano {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 114.99999999999999%;
  letter-spacing: 1%;
  color: #4D4D4D;
}
.cards__ainda {
  margin-bottom: 24px;
  font-size: 20px;
  color: #4D4D4D;
  font-weight: 500;
}
.cards__p--orange {
  color: var(--orange);
}
.cards__apartir {
  color: #919191;
  font-size: 16px;
  margin-bottom: 24px;
}
.cards__price {
  font-size: 64px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 16px;
  color: #747474;
}
.cards__ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #4D4D4D;
  font-size: 16px;
}
.cards__ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
/* Integre */
.integre .button__red {
  margin: auto;
  margin-top: 80px;
}
.integre__grid--1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.integre__title {
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  color: #59D359;
  margin-bottom: 80px;
}
.integre__grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.integre__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #59D359;
  border-radius: 28px;
  padding: 52px;
  gap: 24px;
}
.integre__p {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
}
.integre__description {
  font-size: 20px;
  line-height: 120%;
}
/* FAQ */
.faq {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 100px auto;
  gap: min(2vw, 156px);
}
.faq * {
  transition: .5s !important;
}
.faq__description {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  max-width: 300px;
  width: 23vw;
  gap: 32px;
}
.faq__gap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.faq__element {
  display: flex;
  color: #4D4D4D;
  font-weight: 400;
  height: 46px;
  align-items: center;
}
.faq__text {
  font-size: 40px;
  color: #4D4D4D;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}
.faq__title {
  color: var(--orange);
  font-size: 56px;
}
.faq__card {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #4d4d4d;
  background: #FCFCFC;
  gap: 12px;
  width: 100%;
  min-height: 88px;
  min-width: 380px;
}
.column--1, .column--2  {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq__button {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-weight: 500;
  align-items: center;
  transition: .2s;
}
.faq__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  color: black;
  font-size: 30px;
  height: 30px;
  width: 30px;
  background: none;
  cursor: pointer;
  border: none;
}
.faq__arrow:hover{
  opacity: .4;
}
.faq__arrow img {
  width: 30px;
  height: 30px;
}
.faq__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.faq__ul {
  padding-left: 30px;
}
.faq__ul li {
  margin-bottom: 6px;
}
.faq__card--content {
  display: none;
  font-size: 16px;
  line-height: 150%;
}
.open {
  transition: .2s;
}
.open .faq__arrow {
  transform: rotate(-180deg);
}
.open .faq__card--content {
  display: block;
}
.open .faq__button {
  color: var(--red);
  height: max-content;
  transition: .2s;
}
.open.faq__card {
  border-color: var(--orange);
}
.open .faq__element {
  font-weight: 600;
  color: var(--orange);
}
/* FOOTER ↓ */
footer {
  border-radius: 32px;
  background: var(--orange);
  padding: 48px 100px;
}
.footer__margin {
  height: 24px !important;
}
.footer__logo {
  object-fit: contain;
  object-position: left;
  height: 54px;
}
.footer__blog {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  padding: 10px 20px;
  border-radius: 14px;
  background: white;
  color: var(--orange);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.footer__redes {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}
.footer__border {
  background-color: #FFF;
  height: 2px;
  width: 100%;
  border: none !important;
}
.footer__mob img {
  height: 48px;
  object-fit: contain;
}
.footer__icons, .footer__mob {
  display: flex;
  gap: 8px;
}
.footer__direitos {
  color: var(--Backgrounds-Primary, #FFF);
  font-feature-settings: 'ss01' on;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer__privacidade {
  display: flex;
  gap: 32px;
}
.footer__privacidade a {
  color: var(--Backgrounds-Primary, #FFF);
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  text-decoration-line: underline;
}
.footer__privacidade p {
  color: var(--Backgrounds-Primary, #FFF);
  font-feature-settings: 'ss01' on;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer__termos {
  display: flex;
  justify-content: space-between;
  padding-top: 4vh;
}
/* popup */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--orange);
  color: white;
  z-index: 5;
  text-align: center;
}
.popup__close {
  right: 70px;
  top: 70px;
}
.forms__close, .popup__close {
  cursor: pointer;
  position: absolute; 
  background: none;
  border: none;
  transition: .5s;
  cursor: pointer;
}
.popup__close:hover, .forms__close:hover {
  opacity: 0.6;
  transition: .5s;
}
.popup__grafismo--1 {
  position: absolute;
  left: -140px;
  top: -30px;
}
.popup__grafismo--2 {
  position: absolute;
  right: -152px;
  bottom: -67px;
}
.popup__title {
  font-size: 56px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
}
.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-weight: 400;
  line-height: 120%;
  font-size: 24px;
  max-width: 712px;
  letter-spacing: 0px;
  text-align: center;
}
.popup__atencao {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__atencao img {
  transform: translatex(20px);
}
.popup__atencao p {
  position: absolute;
  z-index: 2;
  color: #7A2818;
}
.popup__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
}
.popup__ul li {
  display: flex;
  gap: 12px;
  align-items: center;
}
/* Formulário ↓ */
.forms__popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
  padding: 0 10px;
}
.forms__close {
  position: absolute;
  left: 80px;
  top: 130px;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: var(--surface--neutral-primary);
  box-sizing: border-box;
  border: 1px solid var(--border-neutral-primary);
  width: 400px;
  border-radius: 20px;
  border-width: 1px;
  gap: 20px;
  padding: 28px;
  z-index: 1;
}
.form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0px;
}
.form__ctn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__grafismo {
  position: absolute;
  height: 100%;
  left: 100px;
  max-height: 600px;
}
.form__inputCtn {
  position: relative;
  width: 100%;
}
.form__input, .form__select {
  background: var(--surface--neutral-primary);
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  height: 48px;
  padding: 4px 20px 0;
  width: 100%;
  outline: 1px solid var(--cinza--claro);
}
.form__select {
  appearance: none;
  cursor: pointer;
}
option {
  color: rgba(77, 77, 77, 1);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
.form__select--1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__select--arrow::after {
  content: '';
  background-image: url('https://image.fala.caju.com.br/lib/fe3211737164047b701270/m/1/0bc96ced-05d8-4dca-9ac2-24f370718e9c.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  color: rgb(158, 158, 158);
  width: 12px;
  height: 12px;
  right: 20px;
  top: 18px;
  z-index: 2;
  transition: .2s;
  pointer-events: none;
}
.form__cut {
  background-color: var(--surface--neutral-primary);
  border-radius: 0px;
  height: 10px;
  left: 14px;
  position: absolute;
  top: -12px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}
.form__cut-short {
  width: 50px;
}
.form__input:focus ~ .form__cut,
.form__input:not(:placeholder-shown) ~ .form__cut {
  transform: translateY(8px);
}
.form__select:valid ~ .form__cut {
  transform: translateY(8px);
}
.form__placeholder {
  color: var(--text-neutral-tertiary);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 350ms, color 200ms;
  left: 20px;
  top: 18px;
}
.form__input:focus ~ .form__placeholder,
.form__input:not(:placeholder-shown) ~ .form__placeholder {
  transform: translateY(-24px) translateX(-2px);
}
.form__select:valid ~ .form__placeholder {
  transform: translateY(-24px) translateX(-2px);
}
.form__input--focus .form__input, .form__input--focus .form__select {
  outline: 2px solid black;
  color: black;
}
.form__input--focus .form__placeholder {
  color: black;
  transition: .5s;
}
.form__placeholder:focus{
  color: var(--black);
  transition: .5s;
}
.form__labels {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
/* Button */
.form__submit,  .form__submit--whats {
  background-color: var(--red);
  border-radius: 16px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  transition: .2s;
}
.form__submit:hover {
  background-color: var(--red--hover);
  transition: .2s;
}
.form__submit:active {
  transition: .2s;
  background-color: var(--red--hover);
}
.form__submit--whats {
  background-color: #59D359;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.form__disclamer {
  font-size: 10px;
  color: #919191;
  text-align: center;
}
.form__disclamer a {
  color: #919191;
}
.input--1 .form__cut {
  width: 140px;
}
.input--2 .form__cut {
  width: 216px;
}
.form__input--3 .form__cut {
  width: 246px;
}
.form__input--4 .form__cut {
  width: 172px;
}
.form__input--5 .form__cut {
  width: 262px;
}
/* Select */
.form__select--1 .form__cut {
  width: 148px;
}
.form__select--2 .form__cut {
  width: 191px;
}
.form__select--1 .form__placeholder {
  top: 18px;
}
.form__input--telefone {
  display: flex;
  position: relative;
}
/*  */
.form__error {
  position: relative;
  display: block;
  color: var(--amarelo--escuro);
  font-size: 14px;
  margin-top: 8px;
  z-index: 2;
}
.form__error-err.form__select--arrow::after {
  right: 55px;
  transition: .2s;
  pointer-events: none;
}
.form__error-err::before {
  content: '';
  position: absolute;
  right: 18px;
  top: 14px;
  width: 20px;
  height: 20px;
  background-image: url('https://image.fala.caju.com.br/lib/fe3211737164047b701270/m/1/10c40112-7e96-4c1b-a691-3134fe85ae8f.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.form__error-err .form__input, .form__error-err .form__select {
  outline: 2px solid var(--amarelo) !important;
}
.form__error-err .form__placeholder {
  color: var(--amarelo--escuro) !important;
}
.form__error-err .form__input, .form__error-err .form__select {
  padding-right: 60px;
}
/* Checkboxs */
.form__checkbox {
  display: flex;
  gap: 16px;
  font-size: 14px;
}
.form__check--title {
  font-weight: 500;
  color: rgba(145, 145, 145, 1);
}
input[type="radio"] {
  display: none;
}
.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: rgba(145, 145, 145, 1);
}
.form__radio-custom {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(145, 145, 145, 1);
  background: rgba(243, 243, 243, 1);
  border-radius: 26px;
  margin-right: 4px;
  position: relative;
}
input[type="radio"]:checked + .form__radio-custom::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 14px;
  background-color: var(--red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="radio"]:checked ~ .form__radio-custom {
  border-color: var(--red);
  border-width: 2px;
}
.radio-label:hover .form__radio-custom {
  border-color: var(--red);
}
.form__submit--ctn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form__message {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--red);
  margin-bottom: 20px;
}
.form__send {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__breve {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  width: 190px;
  margin: auto;
}
.form__send img {
  margin: auto;
  margin-bottom: 28px;
}
.form__container {
  display: none;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid var(--cinza--claro);
  width: 400px;
  border-radius: 20px;
  border-width: 1px;
  gap: 16px;
  padding: 30px;
  height: 551px;
  z-index: 1;
  animation: 1s lowFade--in forwards;
}
[showSendMessage] {
  display: flex;
  position: absolute;
  justify-content: center;
  margin: auto;
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  .empresa {
    gap: 40px;
    padding: 60px;
  }
  /* faq */
  .faq__element {
    height: max-content;
  }
  .faq__card {
    min-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  /* Estilos globais */
  * {
    text-align: start;
  }
  .max__width {
    width: calc(100% - 40px);
  }
  .marcador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
  }
  .marcador__title {
    font-size: 36px;
  }
  [divisor] {
    width: 100%;
  }
  .marcador__title {
    margin: 0;
  }
  .marcador__numbers {
    max-width: 263.96px;
    gap: 8px;
    width: calc(100% - 40px);
  }
  .marcador__p {
    min-height: 38px;
    min-width: 38px;
    border-radius: 13.89px;
    font-size: 16.67px;
  }
  [ativo] {
    min-width: 72px;
    min-height: 72px;
    font-weight: 700;
    font-size: 36.74px !important;
    line-height: 100%;
    border-radius: 25px;
    letter-spacing: 1%;
    text-align: center;
    vertical-align: middle;
  }
  /* Banner */
  .banner__grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .banner__header {
    width: calc(100% - 40px);
  }
  .banner {
    padding: 24px 0;
  } 
  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0px;
    margin: 24px 0;
  }
  .banner__grid {
    margin-top: 24px;
  }
  /* Empresa */
  .empresa {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    margin-top: 68px;
    gap: 40px;
  }
  .empresa__img {
    top: -54px;
    left: 116px;
  }
  .empresa.max__width {
    width: 100%;
    border-radius: 40px;
  }
  .empresa__title {
    font-size: 28px;
  }
  .empresa__por {
    white-space: initial;
  }
  .empresa__col--2 {
    padding: 32px;
    border-radius: 28px;
  }
  .empresa__preco {
    font-size: 40px;
  }
  .empresa__asterisco {
    font-size: 14px;
  }
  /* Cards */
  .cards {
    display: flex;
    flex-direction: column;
  }
  .cards__grafismo, .cards__grafismo {
    right: 18px;
    left: initial;
    transform: rotate(5deg);
    width: 160px;
    height: max-content;
  }
  .cards__grafismo--2 {
    transform: rotate(-5deg);
  }
  /* Ideias */
  .ideias {
    margin-bottom: 32px;
  }
  .ideias__title {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    font-size: 28px;
  }
  .ideias__ctn {
    height: max-content;
    padding: 20px;
  }
  .ideias__ctn p {
    text-align: start;
    font-size: 16px;
  }
  .integre__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: start;
    margin-bottom: 32px;
  }
  /* cards__card */
  .cards__card {
    padding: 32px;
  }
  /* Integre */
  .integre__grid--1, .integre__grid--2 {
    display: flex;
    flex-direction: column;
  }
  .integre__card {
    padding: 40px;
  }
  .integre .button__red {
    margin-top: 32px;
    margin-left: 0;
  }
  /* .faq */
  .faq, .faq__grid {
    display: flex;
    flex-direction: column;
  }
  .faq {
    margin: 40px auto;
  }
  .faq__card {
    min-width: 100%;
  }
  .faq__description {
    width: 100%;
  }
  .faq__description, .faq__gap, .faq {
    gap: 20px;
  }
  .faq__title {
    font-size: 32px;
  }
  .faq__text {
    font-size: 24px;
  }
  /* Footer */
  .footer__redes, .footer__termos, .footer__privacidade, .footer__icons {
    display: flex;
    flex-direction: column;
  }
  footer {
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 24px 40px 32px 40px;
  }
  .footer__redes {
    align-items: center;
  }
  .footer__logo {
    object-position: center;
    margin-bottom: 24px;
  }
  .footer__icons {
    align-items: center;
    gap: 16px;
  }
  .footer__termos, .footer__privacidade {
    gap: 32px;
  }
  footer * {
    text-align: center !important;
  }
  /* Forms */
  form {
    width: 100%;
  }
  .forms__close {
    left: 0;
    top: 0;
  }
  .forms__close {
    position: relative; 
    align-self: flex-start;
  }
  .forms__popup {
    gap: 20px;
  }
  .popup__close {
    right: 10px;
    top: 10px;
  }
}
@media screen and(max-width: 400px) {
  .form__input {
    font-size: 14px;
  }
}
[showFormulario] {
  display: none;
}
[closed] {
  display: none;
}
.popup__lowFade--in {
  display: flex;
  animation: 1s lowFade--in forwards;
}
@keyframes lowFade--in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup__lowFade--out {
  display: flex;
  animation: 1s lowFade--out forwards;
}
@keyframes lowFade--out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}