/* Estilos Globais */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
:root {
  --cinza--claro: rgba(211, 211, 211, 1);
  --cinza--escuro: rgba(77, 77, 77, 1);
  --red: #E80537;
  --roxo: rgba(165, 66, 229, 1);
}

/* Formulário ↓ */
.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid var(--cinza--claro);
  width: 400px;
  border-radius: 20px;
  border-width: 1px;
  gap: 16px;
  padding: 30px;
  z-index: 1;
}
.form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
}
.form__ctn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__grafismo {
  position: absolute;
  height: 100%;
  left: 100px;
  max-height: 600px;
}
.form__inputCtn {
  position: relative;
  width: 100%;
}
.form__input, .form__select {
  background: white;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  color: var(--cinza--escuro);
  font-size: 14px;
  height: 48px;
  padding: 4px 20px 0;
  width: 100%;
  outline: 1px solid var(--cinza--claro);
  transition: .5s;
}
.form__select {
  appearance: none;
  cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
.form__select--1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__select--arrow::after {
  content: '';
  background-image: url('https://image.fala.caju.com.br/lib/fe3211737164047b701270/m/1/0bc96ced-05d8-4dca-9ac2-24f370718e9c.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  color: rgb(158, 158, 158);
  width: 12px;
  height: 12px;
  right: 24px;
  top: 18px;
  z-index: 2;
}
.form__cut {
  background-color: white;
  border-radius: 6px;
  height: 10px;
  left: 14px;
  position: absolute;
  top: -12px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}
.form__cut-short {
  width: 50px;
}
.form__input:focus ~ .form__cut,
.form__input:not(:placeholder-shown) ~ .form__cut {
  transform: translateY(8px);
}
.form__select:valid ~ .form__cut {
  transform: translateY(8px);
}
.form__placeholder {
  color: gray;
  font-family: sans-serif;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  left: 20px;
  top: 17px;
}
.form__input:focus ~ .form__placeholder,
.form__input:not(:placeholder-shown) ~ .form__placeholder {
  transform: translateY(-22px) translateX(-2px) scale(0.75);
}
.form__select:valid ~ .form__placeholder {
  transform: translateY(-22px) translateX(-2px) scale(0.75);
}
.form__input:not(:placeholder-shown) ~ .form__placeholder {
  color: gray;
}
.form__input:focus{
  outline: 1px solid black;
  transition: .5s;
}
.form__submit {
  background-color: var(--red);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  margin-top: 4px;
  text-align: center;
  width: 100%;
  transition: .2s;
}
.form__submit:active {
  transition: .2s;
  background-color: #74031C;
}
.form__disclamer {
  font-size: 10px;
  color: #4D4D4D;
  text-align: center;
}
.input--1 .form__cut {
  width: 122px;
}
.input--2 .form__cut {
  width: 128px;
}
.form__input--3 .form__cut {
  width: 214px;
}
.form__input--4 .form__cut {
  width: 150px;
}
.form__input--5 .form__cut {
  width: 226px;
}
/* Select */
.form__select--1 .form__cut {
  width: 198px;
}
.form__select--2 .form__cut {
  width: 128px;
}
.form__select--3 .form__cut {
  width: 168px;
}
.form__select--1 .form__placeholder {
  top: 18px;
}
/*  */
.form__error {
  position: relative;
  display: block;
  color: var(--roxo);
  font-size: 12px;
  margin-top: 8px;
  z-index: 2;
} 
.form__error-err .form__input, .form__error-err .form__select {
  outline: 1px solid var(--roxo);
}
.form__error-err .form__placeholder {
  color: var(--roxo);
}
.form__input--telefone {
  display: flex;
  position: relative;
}
/* Checkboxs */
.form__checkbox {
  align-items: center;
  display: flex;
  gap: 16px;
  font-size: 14px;
}
.form__check--title {
  font-weight: 600;
  color: rgba(145, 145, 145, 1);
}
input[type="radio"] {
  display: none;
}
.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: rgba(145, 145, 145, 1);
}
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid var(--cinza--claro);
  border-radius: 6px;
  margin-right: 4px;
  position: relative;
  transition: all .2s ease-in-out;
}
input[type="radio"]:checked + .radio-custom::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="radio"]:checked ~ .radio-custom {
  border-color: var(--red);
}
.radio-label:hover .radio-custom {
  border-color: var(--red);
}
.form__submit--ctn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and(max-width: 1000px) {
  form {
    width: 100%;
  }
}
@media screen and(max-width: 400px) {
  .form__input {
    font-size: 14px;
  }
}